<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	    <property name="hibernate.connection.url">jdbc:mysql://localhost/WareTech_CmsTech</property>
	    <property name="hibernate.connection.username">root</property>
	    <property name="hibernate.connection.password">password</property>
	    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="connection.pool_size">4</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="current_session_context_class">thread</property>
        <property  name="show_sql">true</property>

        <!-- Mapping Entities -->
        <mapping class="com.WareTech.CmsTech.entity.Access"/>
        <mapping class="com.WareTech.CmsTech.entity.Alert"/>
        <mapping class="com.WareTech.CmsTech.entity.AlertUser"/>
        <mapping class="com.WareTech.CmsTech.entity.Category"/>
        <mapping class="com.WareTech.CmsTech.entity.Configuration"/>
        <mapping class="com.WareTech.CmsTech.entity.CurrencyExchange"/>
        <mapping class="com.WareTech.CmsTech.entity.Label"/>
        <mapping class="com.WareTech.CmsTech.entity.Product"/>
        <mapping class="com.WareTech.CmsTech.entity.ProductCategory"/>
        <mapping class="com.WareTech.CmsTech.entity.ProductLabel"/>
        <mapping class="com.WareTech.CmsTech.entity.ProductRelated"/>
        <mapping class="com.WareTech.CmsTech.entity.Section"/>
        <mapping class="com.WareTech.CmsTech.entity.SectionCategory"/>
        <mapping class="com.WareTech.CmsTech.entity.SectionLabel"/>
        <mapping class="com.WareTech.CmsTech.entity.SectionProduct"/>
        <mapping class="com.WareTech.CmsTech.entity.User"/>
        <mapping class="com.WareTech.CmsTech.entity.UserAccess"/>
        
    </session-factory>

</hibernate-configuration>
